.rotate-container {
  position: relative;
  display: inline-block;
}

#rotating-container {
  transition: transform 2s ease;
  transform-origin: center;
}

#rotating-image,
#rotating-text {
  width: 100%;
}

.rotated {
  transform: rotate(360deg);
}
